* {
    /* margin: 0px; */
    /* padding: 0px; */
    /* font-family: 'Source Code Pro', monospace; */
    /* font-family: sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    text-transform:uppercase;
    font-size: 20px;
    /* color: white;  */
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body {
    /* background: rgb(131,58,180);*/
    /* display: flex; */
    /* background-color: #f7f7f8; */
    /* background-color: #1C3041;   */
    /* width: 100vw;   */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  */
    /* background: linear-gradient(90deg, hsla(328, 75%, 45%, 1) 0%, hsla(269, 85%, 41%, 1) 100%);  */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
        --dot-bg: white;
        --dot-color: black;
        --dot-size: 1px;
        --dot-space: 22px;
          background:
              linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
              linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
              var(--dot-color);
}  

/* .css-selector {
    background: linear-gradient(270deg, #940533, #c0012a, #f5061d, #ff8800, #ffb300);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */

.back {
    display: flex;
  /* align-items: center; */
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(75, 75, 250, 0.3); */
  border-radius: 3px; 
} 

.left {
    width: 25%;
}

.center {
    width: 50%;
}

.right {
    width: 25%;
}


.h1 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 5px solid white;
}

.h1 b {
    font-size: 37px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.welcome {
    margin-top: 12px;
    margin-bottom: 18px;
    border: 3px solid white;
}

main {
    margin-top: 30px;
}

main .h1 {
    margin-bottom: 30px;
} 

a {
    color: black;
    list-style: none;
}

main div img {
    height: 210px;
    width: 300px;
    border-radius: 10px;
}