* {
  margin: 0px;
  padding: 0px;
}

body {
  --dot-bg: #376c9b; 
  --dot-color: #052f2a;
  --dot-size: 1px;
  --dot-space: 30px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
     var(--dot-color);
  color: white;
  font-family: 'Source Code Pro', monospace;
  
}

header a {
  text-decoration: none;
  color: white;
}

main a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  font-size: 2em;
}

header div {
  margin-left: 7.3em;
}

.link {
  display: flex;
  margin-right: 7em;
}

.link div {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.name {
  display: flex;
  font-size: 6em;
  text-align: center;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 7em;
}

.about {
  display: flex;
  font-size: 3.7em;
  text-align: center;
  justify-content: center;
  margin: 2em 4em 2em 4em;
  border-left: 10px solid white;
  margin-bottom: 11em;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 27em;
}

.project span {
  font-size: 5em;
  margin-bottom: 1em;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
}

footer span {
  font-size: 2em;
  margin: 1em;
}

@media only screen and (max-width: 1216px) {
  header {
    margin-top: 1em;
    justify-content: center;
  }
}

@media only screen and (max-width: 1098px) {
  .name {
    font-size: 3em;
    margin-bottom: 3em;
  }

  .about {
    font-size: 1.6em;
    margin-bottom: 5em;
  }

  .project {
    margin-bottom: 5em;
  }

  .project span {
    font-size: 3em;
  }

  footer span {
    font-size: 1em;
    margin: 1em;
  }
}

@media only screen and (max-width: 837px) {
  header {
    font-size: 1.7em;
    margin-top: 1em;
    justify-content: center;
  }

  .name {
    font-size: 2.5em;
    margin-bottom: 5em;
  }

  .about {
    font-size: 1.5em;
    margin: 2em 6em 10em 6em;
  }

  .project {
    margin-bottom: 5em;
  }

  .project span {
    font-size: 2.5em;
  }

  footer span {
    font-size: 1em;
    margin-top: 9em;
  }
}

@media only screen and (max-width: 730px) {
  header {
    font-size: 1.4em;
    margin-top: 1em;
    justify-content: center;
  }

  .name {
    font-size: 1.9em;
    margin-bottom: 5em;
  }

  .about {
    font-size: 1.5em;
    margin: 2em 6em 7em 6em;
  }

  .project {
    margin-bottom: 3.5em;
  }

  .project span {
    font-size: 2.2em;
  }

  footer span {
    font-size: 1em;
    margin-top: 9em;
  }
}

@media only screen and (max-width: 593px) {
  header {
    font-size: 1em;
    margin-top: 1em;
    justify-content: center;
  }

  .name {
    font-size: 4em;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .about {
    font-size: 1.4em;
    margin: 2em 4em 8em 4em;
  }

  .project {
    margin-bottom: 3.5em;
  }

  .project span {
    font-size: 1.5em;
  }

  footer span {
    font-size: 0.7em;
    margin-top: 9em;
  }
}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 3.5em;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .about {
    font-size: 1.1em;
    margin: 2em 4em 8em 4em;
  }
}

@media only screen and (max-width: 410px) {
  header {
    font-size: 1.4em;
    margin: 0em;
    flex-direction: column;
    justify-content: center;
  }

  header div {
    justify-content: center;
    text-align: center;
    margin-left: 0em;
    margin-top: 0.2em;
  }

  .link {
    margin-right: 0em;
  }

  .name {
    font-size: 3.5em;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .about {
    font-size: 1.1em;
    margin: 2em 4em 8em 4em;
  }

  .project {
    margin-bottom: 3.5em;
  }

  .project span {
    font-size: 1.5em;
  }

  footer span {
    font-size: 0.7em;
    margin-top: 9em;
  }
}