* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(16, 15, 15);
}

body {
    background-color: white;
}


.username {
    font-size: 4em;
    margin-top: 1em; 
    margin-left: 12em;
    border-left: 0.5em solid rgb(144, 180, 250);
    color: rgb(95, 95, 203);
}

.hello {
    font-size: 2em;
    margin-top: 7em;
    margin-left: 3em;
    border-left: 0.2em solid rgb(144, 180, 250);
    width: 25em;
}