h3{
    text-align: center;
}
.p1{
    margin-left: 500px;
    width: 250px; 
    height: 250px;
}
.p2{
    width: 100px; 
    height: 100px;
}
.p3{
    margin-left: 350px;
    width: 100px; 
    height: 100px;
}