body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: grid;
  grid-template-columns: repeat (8, 5fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

div{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid;
  margin-top: 30px;
  margin: 25px;
  padding: 15px;
}

label{
  margin: 50px;
}