* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #003566;
}

.header {
    background-color: #001d3d;
}

nav div img {
    width: 3.5em;
    height: 3.5em;
    margin-right: 1em;
}

nav div span {
    color: #edf2f4;
    font-size: 2.2em;
    font-weight: 350;
}

.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #ffc300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35em;
    width: 30em;
    margin: 3em 2em 2em 2em;
}

.card img {
    width: 12em;
    height: 12em;
}

.card span {
    text-align: center;
    margin: 1em;
    font-size: 2em;
    font-weight: 350;
}

footer {
    background-color: #001d3d;
    width: 100%;
    padding: 2em;
    text-align: center;
    color: #edf2f4;
}