*{
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 27px;
}

body{
  background-color: rgb(109, 109, 241);
}

header h1{
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

main{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 450px 450px;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  text-align: center;
}

div{
  display: flex;
  flex-direction: column;
  background-color: rgba(60, 60, 216, 0.5);
  border-radius: 10px;
}

label1{
  border-bottom: 2px solid rgb(69, 69, 195);
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

label{
  margin-top: 10px;
  margin-bottom: 10px;
}

label2{
  margin-top: 30px;
  font-size: 25px;
  border-top: 1px solid rgb(69, 69, 195);
}

label3{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}