main div{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

