* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgb(216, 232, 232);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1em solid black;
  margin: 0em 2em 0em 2em;
}

.info {
  display: flex;
  /* justify-content: space-around; */
  font-size: 1.5em;
}

.info p {
  margin: 0.5em;
}

.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}

.logo img{
  width: 6em;
  height: 6em;
  margin-right: 10em;
}

.buscar {
  background-color: white;
  border-radius: 2em;
  display: flex;
  align-items: center;
}

header div input {
  border-radius: 2em;
  border: 0px solid white;
  width: 17em;
  padding: 1em;
  outline: none;
}

.buscar img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

main {
  display: grid;
  grid-template-columns: repeat(2,40em);
  justify-content: space-around;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,25em);
  row-gap: 2em;
  margin-top: 2em;
}

main div img {
  height: 15em;
  width: 20em;
  border-radius: 0.5em;
}

.manchete {
  font-size: 2em;
}

.data {
  margin-top: 1.5em;
}

.temas {
  background-color: white;
  height: 25em;
  width: 15em;
  padding: 2em;
  margin-left: 13em;
  margin-bottom: 19em;
}

.temas p {
  border-bottom: 1px solid black;
  font-size: 1.5em;
  margin: 1em;
}

.temasEmAlta {
  border-bottom: 1px solid black;
  padding: 0px;
}