body{
    background: #eeeeee;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

input{
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    border: 0px solid black;
}

.cards{
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    justify-content: center;
    align-items: center;
}

.card{
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid black;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0, .5);
    margin: 2em;
}

.card h1{
    text-align: center;
}

.model{
    display: none;
}