body{
    background-color: #add8e6;
}
h3{
    text-align: center;
}
img{
    width: 250px; 
    height: 150px;
}
.t1{
    margin-left: 500px;
}
.c1{
    color: red;
    text-align: center;
}
.c2{
    color: blue;
    text-align: center;
}
